.cardDish {
	width: 18rem;
	margin: 10px 15px;
}
.cardText {
	display: flex;
	flex-direction: column;
}

.cardDescription {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	width: 18rem;
}

.cardButton {
	margin-left: 10px;
}
